; Archivo de configuración del motor.
; Es mejor editarlo usando la interfaz de usuario del editor y no directamente,
; pero para el sencillo juego de carreras en 3D podemos configurarlo aquí.

config_version=5

[solicitud]

config/name="Carrera 3D"
run/main_scene="res://scenes/Main.tscn"
config/features=PackedStringArray("4.2", "Forward Plus")

[mostrar]

tamaño/ancho_ventana=720
tamaño/altura_ventana=1280
ventana/tamaño/modo=0
ventana/dispositivo portátil/orientación=1

[dispositivos_de_entrada]

apuntar/emular_toque_desde_el_ratón=verdadero